/* Background styling */
body {
  margin: 0;
  background-color: #73dbf3; /* Light background color */
  height: 100vh;
}

/* Centering the header bar */
.header-bar {
  background-color: #282c34; /* Dark color for the header */
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Centering the search form */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take up the full height of the viewport */
  margin-top: 60px; /* Offset by the height of the header bar */
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e2993f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

